@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

html,
body {
  background-color: #f1f0ea;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;

}
